exportPattern("^[[:alpha:]]+")
importFrom("stats", "as.formula", "coefficients", "df.residual", "lm", "median", "model.matrix", "qt", "quantile", "residuals")
importFrom("utils", "head")
importFrom("compositions", "gsi.buildilrBase","ilr")
